* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}

body {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: no-drop;
  opacity: 50%;
}
